<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @descriptive_page.link %>
</p>

<%= link_to 'Edit', edit_descriptive_page_path(@descriptive_page) %> |
<%= link_to 'Back', descriptive_pages_path %>
